apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: channels.kais.io
spec:
  group: kais.io
  names:
    kind: Channel
    plural: channels
    singular: channel
    shortNames: ["ch"]
  scope: Namespaced
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              x-kubernetes-preserve-unknown-fields: true
            status:
              type: object
              x-kubernetes-preserve-unknown-fields: true
      subresources:
        status: {}
      additionalPrinterColumns:
        - name: Phase
          type: string
          jsonPath: .status.phase
        - name: Messages
          type: integer
          jsonPath: .status.messageCount
        - name: Subscribers
          type: integer
          jsonPath: .status.subscriberCount
        - name: Age
          type: date
          jsonPath: .metadata.creationTimestamp
