apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: swarms.kais.io
spec:
  group: kais.io
  names:
    kind: Swarm
    plural: swarms
    singular: swarm
    shortNames: ["sw"]
  scope: Namespaced
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              x-kubernetes-preserve-unknown-fields: true
            status:
              type: object
              x-kubernetes-preserve-unknown-fields: true
      subresources:
        status: {}
      additionalPrinterColumns:
        - name: Phase
          type: string
          jsonPath: .status.phase
        - name: Current
          type: integer
          jsonPath: .status.currentReplicas
        - name: Desired
          type: integer
          jsonPath: .status.desiredReplicas
        - name: Age
          type: date
          jsonPath: .metadata.creationTimestamp
